<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.tradingapp.metatrader.app.MyApplication"
        android:allowBackup="true"
        android:label="MetaTrader Clone"
        android:supportsRtl="true">

        <activity
            android:name="com.tradingapp.metatrader.app.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>
</manifest>
